credentials.py

__pycache__/
data/
playground.*
.Rproj.user
.RData
.Rhistory
.vscode/
checkpoints/
lightning_logs/
benchmark_results/

encoder_pacman.egg-info/*
notebooks/

README_files/
README.html
playground/dtw_affinity_matrix.csv

temp/
affinity_matrices/

src/tests/visualization/diff_images/*
src/tests/visualization/result_images/*

src/tests/analysis/geom_clustering/diff_images/*
src/tests/analysis/geom_clustering/result_images/*
playground/*
trained_models/

hpc/videos/
*.html
*.gif

wandb/