credentials.py

__pycache__/
data/
playground.*
.Rproj.user
.RData
.Rhistory
.vscode/
checkpoints/
lightning_logs/

encoder_pacman.egg-info/*
notebooks/profile.html
notebooks/profile.json
notebooks/_ipython-input-5-profile
notebooks/_ipython-input-17-profile
README_files/
notebooks/test_partial_trajectories.json
notebooks/test_partial_trajectories.npz
README.html
playground/dtw_affinity_matrix.csv

temp/
affinity_matrices/

src/tests/visualization/diff_images/*
src/tests/visualization/result_images/*

src/tests/analysis/geom_clustering/diff_images/*
src/tests/analysis/geom_clustering/result_images/*
playground/AllTheStuff.ipynb
